    .bigbox {
        width: 1100px;
        background-color: rgb(0, 255, 255, 0.2);
        margin: auto;
    }

    .left {
        width: auto;
        height: auto;
        float: left;
    }

    .right {
        width: 50%;
        height: auto;
        float: right;
    }

    .flex_test {
        display: flex;
        border: 2px solid black;
        width: 1000px;
        height: 800px;
        /* justify-content: space-evenly; */
        flex-direction: column;

    }

    .flex_test div {
        width: 200px;
        height: 400px;
        background-color: rgb(239, 173, 86);
        border: 1px solid rgb(5, 193, 193);

    }